/* SHARED BETWEEN LEVELS*/
#message 
{
    margin-top: 20px;
    min-height: 24px;
    font-size: 1.2em;
    z-index: 1;
    transition: color 1s ease-in-out;
}
.success 
{
    color: gold;
    text-shadow: 0 0 5px gold;
}
.error 
{
    color: red;
    text-shadow: 0 0 5px darkred;
    animation: shake 0.5s;
}
@keyframes shake 
{
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}